:root {
    font-size: 16px;
    line-height: 1.2;
}


body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}


h1 {
    font-family: 'Butler', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 5.4rem;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

h3 {
    font-family: 'Butler', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 5.4rem;
}

article h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

article p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

blockquote {
    font-family: 'Butler', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2rem;
}

span {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

li {
    font-family: 'Butler', 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 2.1rem;
}


.hero-section {
    display: block;
    height: 630px;
    width: 1065px;
    background-image: url('/img/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 134px;
}

.hero-box {
    position: relative;
    top: 137px;
    left: 254px;
    background-color: white;
    width: 557px;
    height: 355px;
} 

.hero-title {
    font-family: 'Butler', serif;
    font-weight: 400;
    font-size: 5.4em;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 18px;
}

.hero-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
}

.bg-element {
    display: flex;
}

.first-element {
    position: relative;
    top: 320px;
    left: 623px;
}

.line {
    width: 22px;
    height: 1px;
    background-color: #8C8888;
    margin-top: 31px;
    margin-right: 5px;
}

.bg-text {
    font-family: 'Butler', serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #8C8888;
}


